{% load static %}
<head>
    <title>{% block title %}注册{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'images/bitbug_favicon (1).ico' %}">
    <link rel="stylesheet" href="{% static 'css/index.ecdd127.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
</head>
<body>
<div class="container">
    <div class="main join">
        <div class="form-page view"><h1><a href="/" class="active">易读</a></h1>
            <h2>简而易，见而读</h2>
            <section>
                {% block body %}
                {% endblock body %}
            </section>
        </div>
    </div>
</div>
</body>