{% extends 'base/base_index.html' %}
{% load static %}
{% block body %}
    <div style="width: 1000px;overflow: hidden">
        <div style="width: 700px;float: left">
            <dl class="article-card">
                <dt>
                    <div class="user-card block size80"><a href="/user/761669" class="avatar"><img alt="谭小熊"
                                                                                                   src="https://cdn.sspai.com/2017/10/13/6ef7cde2cf4b45ea31184b512a61be9b.jpg?imageMogr2/quality/95/thumbnail/!80x80r/gravity/Center/crop/80x80"
                                                                                                   lazy="loaded"
                                                                                                   style="width: 40px; height: 40px;"></a>
                        <h4><a href="/user/761669" class="">谭小熊</a></h4>
                        <time class="retweet">
                            2小时前
                            <span><span>推荐</span> </span></time>
                    </div>
                    <div class="more"><span><div class="el-popover" style="width: 110px; display: none;"><!----><ul
                            class="tooltip-nav"><li><a href="javascript:;">收藏</a></li> <li><a
                            href="javascript:;">举报</a></li></ul> <div class="el-dialog__wrapper report-dialog"
                                                                      style="display: none;"><div
                            class="el-dialog el-dialog--tiny" style="top: 15%;"><div
                            class="el-dialog__header"><span
                            class="el-dialog__title">举报</span><div class="el-dialog__headerbtn"><i
                            class="el-dialog__close el-icon el-icon-close"></i></div></div><!---->
                        <!----></div></div>  </div><a
                            href="javascript:;"><span class="icon i-more"></span></a></span></div>
                </dt>
                <dd> <!----> <a href="/post/44047" class="banner"><img alt="照片没拍好先别急着删，18 个技巧帮你拯救「废片」"
                                                                       src="https://cdn.sspai.com/2018/04/10/d4f9dc449afb9521923841a06523148c.jpg?imageMogr2/quality/95/thumbnail/!1440x480r/gravity/Center/crop/1440x480"
                                                                       lazy="loaded"> <!----></a> <!---->
                    <section><h3 class="title"><a href="/post/44047">照片没拍好先别急着删，18 个技巧帮你拯救「废片」</a></h3>
                        <summary class="desc">裁剪、提高对比……或者只是一个简单的滤镜，就能让你的「废片」秒变刷爆朋友圈的美照。</summary>
                    </section>
                    <footer class="meta"><!----> <!---->
                        <div class="actions"><!----> <span class="like-views"><i
                                class="icon i-like"></i><sup class="sup">35</sup></span> <a
                                href="javascript:;" class="btn-comment"><i
                                class="icon i-comment"></i><sup>6</sup></a></div>
                    </footer>
                </dd>
            </dl>
        </div>
        <div style="width: 300px;float: right"><a class="contact">寻求合作 | 支持我们</a>
            <dl class="side-section matrix-section" query="[object Object]">
                <dt><h3>Matrix精选</h3> <!----></dt>
                <dd>
                    <ul>
                        <li><h5 class="title"><a href="/post/44057" class="">对幕布的几条改进建议</a></h5>
                            <div class="user-card size48"><a href="/user/775063" class="avatar"><img alt="玉树芝兰"
                                                                                                     src="https://cdn.sspai.com/2017/08/19/3fe5d00dc369289450fe72e39628dcfb.jpg?imageMogr2/quality/95/thumbnail/!48x48r/gravity/Center/crop/48x48"
                                                                                                     lazy="loaded"
                                                                                                     style="width: 24px; height: 24px;"></a>
                                <h4><a href="/user/775063" class="">玉树芝兰</a></h4></div>
                        </li>
                        <li><h5 class="title"><a href="/post/44059" class="">ApowerShow – 超级轻便的在线照片音乐视频制作软件</a>
                        </h5>
                            <div class="user-card size48"><a href="/user/794454" class="avatar"><img
                                    alt="梧桐树上的凤凰"
                                    src="https://cdn.sspai.com/2017/12/04/af2d8ef68a3dd50476c194209b2fa3ce.jpg?imageMogr2/quality/95/thumbnail/!48x48r/gravity/Center/crop/48x48"
                                    lazy="loaded"
                                    style="width: 24px; height: 24px;"></a>
                                <h4><a href="/user/794454" class="">梧桐树上的凤凰</a></h4></div>
                        </li>
                        <li><h5 class="title"><a href="/post/44040" class="">aText 与系统文本替换的同步</a></h5>
                            <div class="user-card size48"><a href="/user/747810" class="avatar"><img
                                    alt="Bigice"
                                    src="https://cdn.sspai.com/avatar/5c93307079c7e8853f3bc313ee6d1638.jpg?imageMogr2/quality/95/thumbnail/!48x48r/gravity/Center/crop/48x48"
                                    lazy="loaded"
                                    style="width: 24px; height: 24px;"></a>
                                <h4><a href="/user/747810" class="">Bigice</a></h4></div>
                        </li>
                        <li><h5 class="title"><a href="/post/44023" class="">Mac 如何安装 Windows 10?</a></h5>
                            <div class="user-card size48"><a href="/user/793445" class="avatar"><img alt="王禹效"
                                                                                                     src="https://cdn.sspai.com/2017/11/19/7a525283fc3a8438412c87d6367d6d8e.jpg?imageMogr2/quality/95/thumbnail/!48x48r/gravity/Center/crop/48x48"
                                                                                                     lazy="loaded"
                                                                                                     style="width: 24px; height: 24px;"></a>
                                <h4><a href="/user/793445" class="">王禹效</a></h4></div>
                        </li>
                        <li><h5 class="title"><a href="/post/44015" class="">一路走好，那些年曾经陪伴的互联网服务</a></h5>
                            <div class="user-card size48"><a href="/user/724096" class="avatar"><img
                                    alt="Eric_hong"
                                    src="https://cdn.sspai.com/attachment/origin/2016/09/11/346714.png?imageMogr2/quality/95/thumbnail/!48x48r/gravity/Center/crop/48x48"
                                    lazy="loaded"
                                    style="width: 24px; height: 24px;"></a>
                                <h4><a href="/user/724096" class="">Eric_hong</a></h4></div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="side-section">
                <dt><h3>推荐专题</h3> <a href="/topics" class="more">查看全部</a></dt>
                <dd><a href="/topic/186" class="topic-card" data-v-4948e0bc=""><img data-v-4948e0bc=""
                                                                                    class="banner"
                                                                                    src="https://cdn.sspai.com/topic/0ccf2e61-ab0c-ffc8-8e94-97abcd0b1e01.jpg?imageMogr2/quality/95/thumbnail/!828x445r/gravity/Center/crop/828x445"
                                                                                    lazy="loaded">
                    <div data-v-4948e0bc="" class="mask"><h4 data-v-4948e0bc="">旧设备焕新手册</h4> <span
                            data-v-4948e0bc=""
                            class="btn">查看专题</span>
                    </div>
                </a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="main home">
        <div id="home" class="view">


            <footer data-v-04c1b120="" id="footer">
                <div data-v-04c1b120="" class="inner">
                    <div data-v-04c1b120="" class="share"><a data-v-04c1b120="" href="mailto:contact@sspai.com"><i
                            data-v-04c1b120="" class="icon i-mail"></i></a> <a data-v-04c1b120=""
                                                                               href="http://weibo.com/sspaime"><i
                            data-v-04c1b120="" class="icon i-weibo"></i></a> <a data-v-04c1b120="" id="i-wechat"><i
                            data-v-04c1b120="" class="icon i-wechat"></i>
                        <div data-v-04c1b120=""><span data-v-04c1b120=""></span>
                            <p data-v-04c1b120="">关注公众号 yidu</p></div>
                    </a> <a data-v-04c1b120="" href="https://twitter.com/sspai_com"><i data-v-04c1b120=""
                                                                                       class="icon i-twitter"></i></a>
                        <a
                                data-v-04c1b120="" href="/feed"><i data-v-04c1b120="" class="icon i-rss"></i></a></div>
                    <ul data-v-04c1b120="" class="link">
                        <li data-v-04c1b120=""><a data-v-04c1b120="" href="/page/support">支持我们</a></li>
                        <li data-v-04c1b120=""><a data-v-04c1b120="" href="/apply/writing">作者招募</a></li>
                        <li data-v-04c1b120=""><a data-v-04c1b120="" href="/post/37739">用户协议</a></li>
                        <li data-v-04c1b120=""><a data-v-04c1b120="" href="/post/37793">FAQ</a></li>
                        <li data-v-04c1b120=""><a data-v-04c1b120="">Contact Us</a></li>
                    </ul>
                    <div data-v-04c1b120="" id="copyright">
                        © 2017-2018 <a data-v-04c1b120="" href="">易读</a> | <a data-v-04c1b120=""
                                                                              href="http://www.miitbeian.gov.cn/"
                                                                              target="_blank">粤ICP备09128966号-4</a>
                        | CC BY-NC 4.0
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock body %}